[context.production.environment]
  VITE_ENDPOINT = "https://gh-discuss.devnet.govgen.dev"
  VITE_REPO = "allinbits/govgen-governance-discussions-test"

[context.deploy-preview.environment]
  VITE_ENDPOINT = "https://gh-discuss.devnet.govgen.dev"
  VITE_REPO = "allinbits/govgen-governance-discussions-test"