[context.deploy-preview.environment]
  VITE_REPO             = "allinbits/govgen-governance-discussions-test"
  VITE_ENDPOINT         = "https://gh-discuss.devnet.govgen.dev"
  VITE_CHAIN_ID         = "govgen-devnet-4"
  VITE_RPC              = "https://rpc.govgen.dev"
  VITE_API              = "https://api.govgen.dev"
  VITE_GRAPHQL_ENDPOINT = "https://graphql-devnet.govgen.dev/v1/graphql"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
  Access-Control-Allow-Origin = '''
  https://app.govgen.io,
  https://graphql-mainnet.govgen.io
  https://gh-discuss.govgen.io
  https://graphql-govgen-mainnet.allinbits.services/v1/graphql

  https://app.govgen.dev,
  https://staging.govgen.dev,
  https://graphql-devnet.govgen.dev
  https://gh-discuss.devnet.govgen.dev

  https://githubusercontent.com
  https://avatars.githubusercontent.com
  '''
  Strict-Transport-Security = "max-age=31536000; includeSubDomains"
  Content-Security-Policy = "default-src 'self' 'wasm-unsafe-eval'; style-src 'self' 'unsafe-inline'; script-src 'self' 'wasm-unsafe-eval'; object-src 'none'; img-src 'self' data: https:; connect-src https://graphql-govgen-mainnet.allinbits.services/v1/graphql https://graphql-mainnet.govgen.io/v1/graphql https://graphql-devnet.govgen.dev/v1/graphql https://rpc.govgen.io https://rpc.govgen.dev https://gh-discuss.devnet.govgen.dev https://plausible.io/api/event githubusercontent.com *.githubusercontent.com"
  X-Frame-Options = "SAMEORIGIN"
  X-Content-Type-Options = "nosniff"
  Referrer-Policy = "strict-origin"
  X-XSS-Protection = "1; mode=block"
  Set-Cookie = '''
  Secure, 
  SameSite'''
  permissions-policy = '''
  interest-cohort=(),
  accelerometer=(),
  autoplay=(),
  camera=(),
  autoplay=(),
  document-domain=(),
  encrypted-media=(),
  geolocation=(),
  gyroscope=(),
  magnetometer=(),
  microphone=(),
  midi=(),
  payment=(),
  usb=(),
  xr-spatial-tracking=()'''
