/*
   FONT FAMILY GROUPS
*/

/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("./assets/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("./assets/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

/* Inter var */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("./assets/fonts/intervar/Inter.var.woff2?v=3.19") format("woff2");
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/roboto/roboto-mono-normal.woff2") format("woff2"),
    url("./assets/fonts/roboto/roboto-mono-normal.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

/* Termina */
@font-face {
  font-family: "Termina";
  src:
    url("./assets/fonts/termina/Termina-Medium.woff2") format("woff2"),
    url("./assets/fonts/termina/Termina-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Termina";
  src:
    url("./assets/fonts/termina/Termina-Demi.woff2") format("woff2"),
    url("./assets/fonts/termina/Termina-Demi.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Termina";
  src:
    url("./assets/fonts/termina/Termina-Bold.woff2") format("woff2"),
    url("./assets/fonts/termina/Termina-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-interNormal text-light bg-dark;
  font-feature-settings:
    "kern" on,
    "liga" on,
    "calt" on,
    "zero" on;
  -webkit-font-feature-settings:
    "kern" on,
    "liga" on,
    "calt" on,
    "zero" on;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-variant-ligatures: contextual common-ligatures;
  font-kerning: normal;
  text-rendering: optimizeLegibility;

  @supports (font-variation-settings: normal) {
    @apply font-interVar;
  }
}

.markdown {
  h1 {
    @apply text-500 font-medium my-2;
  }

  h2 {
    @apply text-400 font-medium my-2;
  }

  h3,
  h4,
  h5 {
    @apply text-300 font-medium my-2;
  }

  ul {
    @apply pl-6 my-4;
    list-style-type: disc;
  }

  li {
    @apply text-200 py-2;
    @apply leading-6;
  }

  p {
    @apply mb-4;
    text-align: justify;
    @apply leading-6;
  }

  pre {
    @apply bg-grey-500 p-3 rounded-sm mb-4 mt-4;
  }

  table {
    @apply w-full my-4;
  }

  table,
  th,
  td {
    @apply border-2 border-grey-200;
  }

  table {
    @apply bg-grey-300;
  }

  th {
    @apply p-2;
  }

  td {
    @apply p-2;
    @apply text-center;
  }
}
